# node
node_modules/
dist/
build/

# python
__pycache__/
*.pyc

# env
.env

# large raw data (DON’T upload)
data/
*.xml
*.gz
*.zip
*.db

# temp
/tmp/

# OS
.DS_Store

!backend/stops.db
!backend/bus.dbbackend/*.db
